body{
    overflow-y: auto;
    display: flex;
    flex-direction:column;
}

/*Header part*/
.header{
    display:flex;
    justify-content: space-around;
    background-color: #1f2937;
    color:white;
    align-items:center;
}

.header-links{
    display: flex;
}

.header-links a{
    text-decoration: none;
    color:#E5E7EB;
    padding:15px;
    font-size:18px;
}

.header .title{
    font-size: 24px;
    color: #f9faf8;
    margin-left:50px;
}

/*content1 (hero) part */

.content1{
    display:flex;
    gap: 50px;
    justify-content: center;
    background-color: #1f2937;
    color:white;
    align-items:center;
}

.activities-list li {
    margin-bottom: 10px; 
}

.activities-list li a {
    font-size: 16px; /* Size of the link text */
    color: rgb(255, 255, 255); /* Color of the link text */
    text-decoration: none; /* Removes underline from links */
    line-height: 1.5; /* Line height for each link */
    padding-left: 10px; /* Padding inside the links, useful for custom bullet points or spacing */
    padding-right: 10px;
    display: block; /* Makes the entire area clickable, not just the text */
    border-radius: 5px;
}

.activities-list li a:hover,
.activities-list li a:focus {
    background-color: #ae55e5; /* Background color when hovered/focused */
    text-decoration: underline; /* Adds underline on hover/focus for visual feedback */
}


.content1 .text{
    font-size:18px;
}

.content1 img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .content1 .maintext {
        font-size: 24px;
    }
    .activities-list {
        margin-right: 0;
    }
}


/*content 2, describe page content*/

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.content2 .title{
    font-size:36px;
    font-weight: 600;
    color: #fdfdfd;
    padding: 30px;
}

.content2 .images{
    display: flex;
    gap:70px;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: center; /* Center items when they wrap */
}

.content2 .image-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
    text-align: center;
}
.content2 img{
    max-width: 100%;
    height: 100%;
    border:2px solid #1f2937;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* content 3 life motto */
.content3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 100px;
}

.content3 .quote{
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
}

.content3 .name{
    font-size: 20px;
    font-weight: 700;
}

/*content 4, pick a post for me */
.content4{
    display:flex;
    background-color:  #1f2937;
    align-items: center;
    margin:70px;
    border-radius:10px;
    justify-content: space-between;
    padding:40px;
    color:#E5E7EB
}

.content4 .title{
    font-weight: 700;
    font-size: 40px;
}

.content4 .text{
    font-weight: 600;
    font-size:16px;
}

.content4 .button{
    height:50px;
    background-color: #1f2937;
    color: white;
    border: 2px solid #f9faf8;
    margin-right: 90px;
    font-size:15px;
}

